:root {
    --bg-main: #E7DED4;
    --green-main: #3D5F3E;
    --green-light: #3D5F3E70;
    --green-header: #fff;
    --orange-btn: #E09F61;
    --white: #ffffff;
    --orange: #e67e22;
    --orange-hover: #e06b00;

    --hero-text: #7a8f6a;
    --hero-btn-catalog: #8e9f7a;
    --hero-btn-contact: #d18963;

    --category-green: #66744c;


    --products-subtitle: #66744c;
    --products-btn: #a3ab94;
}