* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-main: "Ubuntu Sans Mono", monospace;
}

/* Головне блокування горизонтального скролу */
html,
body {
  overflow-x: unset;
  /* блокуємо горизонтальний скрол */
  width: 100% !important;
  max-width: 100% !important;
}

/* Додатковий захист від вилазів */
body {
  font-family: var(--font-main);
  background: var(--bg-main);
  position: relative;
}


/* Виділення тексту */
::selection {
  background-color: #E09F61;
  color: var(--white);
}

::-moz-selection {
  background-color: #E09F61;
  color: var(--white);
}

/* Форми */
input,
select,
textarea {
  font-size: 15px !important;
}

button,
input,
textarea,
select {
  font-family: inherit;
  color: inherit;
}

a {
  color: inherit;
}

/* Анімація сторінок */
.page-transition {
  animation: pageFade 0.35s ease;
}

@keyframes pageFade {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}